# https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Inspect image contents with `docker run -it twitter-paper_web sh`

# Start .gitignore copy
/.env
/chrome/
/target-tsc/

node_modules/
# End .gitignore copy

/.vscode/
/.git/
/.gitignore
